<a href="https://colab.research.google.com/github/MachsunSSR/DataMining-SemPendek-2021/blob/master/Data_Mining_2_Similarity_Disimilarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import numpy as np
data1 = np.array([22, 1, 42, 10])
data2 = np.array([20, 0, 36, 8])

data_substract = abs(data1 - data2)
# data_substract = [2 1 6 2]

def euclidean(data):
  return np.sqrt(np.sum(np.square(data)))

def manhattan(data):
  return np.sum(data)

def minkowski(data):
  n = len(data)
  pangkat_minko = sum(data ** n)
  return pangkat_minko ** (1/n)

def supremum(data):
  return max(data)

print("Euclidean Distance : ", euclidean(data_substract))
print("Manhattan Distance : ", manhattan(data_substract))
print("Minkowski Distance : ", minkowski(data_substract))
print("Supremum Distance : ", supremum(data_substract))

Euclidean Distance :  6.708203932499369
Manhattan Distance :  11
Minkowski Distance :  6.037835064583693
Supremum Distance :  6

In [6]:
print("Minkowski Distance : ", minkowski(data_substract))

Minkowski Distance :  6.037835064583693

In [35]:
data = np.array([
        [1.5, 1.7],
        [2, 1.9],
        [1.6, 1.8],
        [1.2, 1.5],
        [1.5, 1.0],
])

x = np.array([1.4, 1.6])

data_substract = abs(data - x)
#  data_substract=[[0.1 0.1]
#                 [0.6 0.3]
#                 [0.2 0.2]
#                 [0.2 0.1]
#                 [0.1 0.6]]

def cosine(data1, data2):
  dotted_product = np.dot(data1, data2)
  data1_norm = np.sqrt(sum(np.square(data1)))
  data2_norm = np.sqrt(sum(np.square(data2)))
  return dotted_product / (data1_norm * data2_norm)

list_euclidean =[euclidean(data) for data in data_substract]
list_manhattan =[manhattan(data) for data in data_substract]
list_minkowski =[minkowski(data) for data in data_substract]
list_supremum =[supremum(data) for data in data_substract]

list_cosine =[cosine(elemData, x) for elemData in data]

print("List Euclidean distance : ", list_euclidean)
print("List Manhattan distance : ", list_manhattan)
print("List Minkowski distance : ", list_minkowski)
print("List Supremum distance : ", list_supremum)
print("List Cosine distance : ", list_cosine)

List Euclidean distance :  [0.14142135623730948, 0.6708203932499369, 0.28284271247461906, 0.22360679774997896, 0.608276253029822]
List Manhattan distance :  [0.19999999999999996, 0.8999999999999999, 0.40000000000000013, 0.30000000000000004, 0.7000000000000002]
List Minkowski distance :  [0.14142135623730948, 0.6708203932499369, 0.28284271247461906, 0.22360679774997896, 0.608276253029822]
List Supremum distance :  [0.10000000000000009, 0.6000000000000001, 0.20000000000000018, 0.19999999999999996, 0.6000000000000001]
List Cosine distance :  [0.9999913914439558, 0.9957522612528874, 0.9999694838187877, 0.9990282349375618, 0.9653633930282662]

In [42]:
print("List cosine distance : ", *list_cosine, sep="\n")

List cosine distance :
0.9999913914439558
0.9957522612528874
0.9999694838187877
0.9990282349375618
0.9653633930282662

In [46]:
import pandas as pd
def to_dataframe(data):
  df = pd.DataFrame(data)
  df.columns = ["disimilarity"]
  df.index = ['x1', 'x2', 'x3', 'x4', 'x5']
  return df.sort_values("disimilarity")

In [ ]:
df_euclidean = to_dataframe(list_euclidean)
df_manhattan = to_dataframe(list_manhattan)
df_minkowski = to_dataframe(list_minkowski)
df_supremo = to_dataframe(list_supremo)
df_cosine = to_dataframe(list_cosine)

Jarak euclidean :

    disimilarity
x1      0.141421
x4      0.223607
x3      0.282843
x5      0.608276
x2      0.670820

In [ ]:
df_manhattan = to_dataframe(list_manhattan)
print("Jarak manhattan :")
df_manhattan

Jarak manhattan :

    disimilarity
x1           0.2
x4           0.3
x3           0.4
x5           0.7
x2           0.9

In [ ]:
df_minkowski = to_dataframe(list_minkowski)
print("Jarak minkowski :")
df_minkowski

Jarak minkowski :

    disimilarity
x1      0.141421
x4      0.223607
x3      0.282843
x5      0.608276
x2      0.670820

In [ ]:
df_supremum = to_dataframe(list_supremum)
print("Jarak supremum :")
df_supremum

Jarak supremum :

    disimilarity
x1           0.1
x4           0.2
x3           0.2
x2           0.6
x5           0.6

In [48]:
import pandas as pd
def to_dataframe(data):
  df = pd.DataFrame(data)
  df.columns = ["similarity"]
  df.index = ['x1', 'x2', 'x3', 'x4', 'x5']
  return df.sort_values("similarity", ascending=False)

In [49]:
df_cosine = to_dataframe(list_cosine)
print("Cosine Similarity :")
df_cosine

Cosine Similarity :

    similarity
x1    0.999991
x3    0.999969
x4    0.999028
x2    0.995752
x5    0.965363